<nav class="nav" id="nav">
  <div class="nav-in">
    <a href="/" class="brand"><img src="/image/logo.png" alt="<%= settings.siteName %>" class="brand-logo"><span class="brand-word">Maison&nbsp;<b>Stella</b><span class="dot">.</span></span></a>
    <div class="nav-links">
      <a href="/#maison">La maison</a>
      <a href="/chambres">Chambres</a>
      <a href="/#experience">L'expérience</a>
      <a href="/blog">Journal</a>
      <a href="/#contact">Contact</a>
    </div>
    <a href="/chambres" class="nav-cta">Réserver</a>
  </div>
</nav>
